{% extends 'layout/base.html.twig' %}


{% block body %}
{% set blog = detail %}
    <div class='row'>
        <div class='slide col-3'>
            {% set user = App.session.getUser() %}
            {% if blog.getAuthor() == user.getIdAuthor() %}
                <script >
                    $(document).ready(function(){
                        $("#myform").on("submit",function(event){
                            event.preventDefault();
                            $.ajax({
                                type       : 'DELETE',
                                url        : '/blog',
                                data       : $("#myform").serialize(),
                                success: function() {
                                    window.location="/blogs";
                                }
                            });
                            return true;
                        });
                    });
                </script>
                <form id='myform' enctype='multipart/form-data'>
                    <input name="id" type=hidden value={{blog.getId()}} />
                    <input name="idAuthor" type=hidden value={{blog.getAuthor()}} />
                    <input type="submit" name='delblog' value='xóa bài này '/>
                </form> 
                <br/>
                <a class="btn" href= {{"/blog/update/"~blog.getId()}}>cập nhập nội dung</a>
            {% else %}
                <div >
                    <img src="/static/qc.jpeg" alt="quảng cáo" style='width: 10em;'/>
                    <p> quảng cáo  </p>
                    <p> phần này thuộc tác giả {{blog.getAuthor()}} </p>
                </div>
                

        {% endif %}
        </div>
            <article class='col-9'>
                <p id="header"> {{ blog.getTitle() }} </p>
                <p id="contend"> 
                        {{ blog.getContent() }}
                </p>
                <p id="author_blog"> 
                    {{"write by " ~blog.getAuthor() }}
                </p>
            </article>
        </div>
{% endblock %}