{% extends 'layout/base.html.twig' %}

{% block body %}

{% set blog = detail %}

{% set user = App.session.getUser() %}

{% if ( user.getIdAuthor() != blog.getAuthor() ) %}
    <h1 style='color:red;'> bạn không có quyền tác động bài viết này </h1>
{% else %}  
<div class='updatebox row'>
    <div class='form'>
        <form action='/blog' method="POST">
            <label for="id">id bài viết hiện tại:  {{blog.getId()}}  </label>
            <input name="id" value= {{blog.getId()}} type=hidden  /> <br/>
            <input name="idAuthor" value= {{ blog.getAuthor()}} type=hidden  /> <br/>
            <label for="title">tên bài viết :</label>
            <textarea type="text" name="title" id="title" rows="2" cols="35" >{{ blog.getTitle()}}</textarea><br><br>
            <input type="submit" value='cập nhập tên ' name='updateblog'/>
        </form> 
    </div>

    <div class='form'>
        <form action='/blog' method="POST">
            <label for="id">id bài viết hiện tại:  {{blog.getId()}} </label>
            <input name="id" value= {{blog.getId()}} type=hidden  /> <br/>
            <input name="idAuthor" value= {{ blog.getAuthor()}} type=hidden  /><br/>
            <textarea type=text name="content" id="nodung"  rows="30" cols="35">{{ blog.getContent()}}</textarea><br><br>
            <input type="submit" value='cập nhập nội dung' name='updateblog'/>
        </form> 
    </div>
</div>

{% endif %}


{% endblock %}